@font-face {
    font-family: outfit;
    src: url(fonts/Outfit-Regular.ttf);
}

* {
    color: white;
    font-family: outfit;
    padding: 0;
    margin: 0;
}

#title {
    text-align: center;
    font-size: 50px;
    margin-top: -100px;
    margin-bottom: 48px;
}

.menuLeft {
    display: flex;
    flex-direction: column;
    width: 75px;
    margin: 24px;
    gap: 10px;
}

.menuLeft > button:hover {
    background-color: #555;
}

.menuLeft > button{
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    height: 35px;
    width: 125px;
    border-radius: 20px;
    box-sizing: content-box;
    background-color: rgb(30, 30, 30);
}

.drawingArea{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.menuRight {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
}

#colorPicker{
    width: 150px;
    height: 150px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 4px solid black;
    --cell-size: calc(100%/16);
    flex-shrink: 0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.cell {
    background-color: white;
    flex: 0 0 var(--cell-size);
    height: var(--cell-size);
    width: var(--cell-size);
    box-sizing: border-box;
}

.gridline {
    border: 1px solid black;
}

.menuLeft > button.active {
    border: solid rgb(71, 1, 210);
    color: rgb(71, 1, 210);
}

.content {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
}